.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(to bottom, #020e0c, #264340);
    color: #fff;
    position: relative;
    overflow: hidden;
}

.hero::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;
    background: transparent url('https://www.transparenttextures.com/patterns/stardust.png') repeat;
    opacity: 0.4;
    animation: moveStars 100s linear infinite;
}

@keyframes moveStars {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-50%, -50%);
    }
}

#hero-text {
    margin-top: 150px;
}

#subtitle-hero {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 200;
    letter-spacing: 8px;
    font-size: 3rem;
    text-align: center;
    width: 100%;
    margin: 0;
}

#name-developer {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 300;
    font-size: 12rem;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    margin: 0;
}

#hero-astronaut {
    margin-top: -120px;
}

.astronaut {
    width: 25rem;
    animation: float 4s ease-in-out infinite;
    transform: rotate(-10deg); 
}

@keyframes float {
    0% {
        transform: translateY(0) rotate(-10deg);
    }
    50% {
        transform: translateY(-20px) rotate(-10deg);
    }
    100% {
        transform: translateY(0) rotate(-10deg);
    }
}

