@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Quicksand:wght@300..700&display=swap');
@import url('header.css');
@import url('soundbutton.css');
@import url('hero.css');
@import url('footer.css');

* {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    height: 100%; 
}

body {
    height: 100%; 
}

.logo-site a {
    color: #fff;
    text-decoration: none;
}

